main {
    padding: 1rem;
}

h1, .practice-description {
    text-align: center;
}

.test-output {
    padding: 1.5rem;
}

//SAME DIFF APP
.same-diff-heading {
    #add-title {
        display: none;
    }
}
.same-diff-content {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 1fr;

    #same-diff-form {
        label, #same-diff-btn {
            display: block;
        }
    }
}